li {
    color: rgb(25, 27, 26);
    background: rgb(228, 228, 82);
    list-style: none;
    padding: 10px;
}
ul {
    padding: 0px;
    background: white;
    border: 3px solid orange;
}
h1 {
    color: rgb(220, 185, 121);
    text-align: center;
}
body {
    background: rgb(233, 142, 142);
    font-family: arial;
}
.item {
    background: orange;
    color: rgb(180, 107, 80);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
body {
    font-size: 20px;
    font-family: poppins;
}
h1{ 
    text-align: left;
    text-align: right;
    text-align: justify;
    text-align: center;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2em;
    font-size: 2rem;
    font-weight: 100;
    font-weight: lighter;
    font-weight: normal;
    font-weight: bold;
    font-weight: bolder;
    word-spacing: 20px;
}
p{
        letter-spacing: 2px;
        line-height: 25px;
        background: orangered;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 20px;
        /* border-width: 5px;
        border-style: dotted;
        border-color:  gold; */
        border: 5px limegreen gold;
        width: 300px;
        max-width: 500px;
        min-width: 250px;
        margin: auto;
        margin-top: 50px;
        border-radius: 20px 40px 40px 20px;
        background-color: skyblue;
        background-image: url("https://unsplash.com/photos/a-brown-dog-sitting-on-top-of-a-sandy-beach-AbNO2iejoXA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash");
        background-size: cover;
        background-size: contain;
        background-repeat: no-repeat ;
        background-position: center;
        background-position: right;
        background-position: bottom;

}